* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: black; 
    background-image: url('escudo.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.container {
    max-width: 75%;
    margin: 1%;
    padding: 2vw;
    background-color: #222222e1;
    border-radius: 8px;
    box-shadow: 3px 4px 8px rgba(230, 230, 230, 0.404);
    text-align: center;
    border: white 0.5px solid;
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    
}

p {
    
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

button {
    display: inline-block;
    background-color: white; 
    color: #444;
    width: 18%;
    margin: 1vh;
    height: 2.5em;
    border-radius: 5px;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    transition: .3s; 
    font-weight: bold;
    border: 1px solid #444; 
    transition: transform 0.7s, box-shadow 0.7s;
}

button:hover {
    background-color: #1d1d1d;
    color: white;
    border: none;
    transition: .4s ease-out;
    transform: translateY(-5px);
    box-shadow: 1px 6px 15px white; 
}

@media (max-width: 768px) {
    .container {
        width: 95vw; 
    }
    button {
        height: 45px; 
        width: 100%; 
        margin-left: 0; 
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 500px; 
        margin-left: 25%; 
        margin-right: 25%; 
        padding: 2rem; 
    }
    button {
        width: 40%;
    }
}
